# Dataset and Model Weights (DO NOT TRACK)
*.npy

# Python Cache and Environments
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
venv/
env/
.env

# IDEs and Editors
.vscode/
.idea/
*.swp

# LaTeX compilation files (keep only .tex and figures in git)
report/latex/*.aux
report/latex/*.log
report/latex/*.out
report/latex/*.fls
report/latex/*.fdb_latexmk
report/latex/*.synctex.gz